*{
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'opens sans', sans-serif;
	list-style: none;
}
#menu_lateral{
	background-color: black;
	width: 300px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding: 20px 0;

}
#menu_lateral img{
	width: 150px;
	height: 150px;
	border-radius: 10%;
	border: 10px solid rgb(32, 44, 69);
	margin: 0 auto;

}
#profile{
	text-align: center;
	color: white;
}
#profile h3{
	font-size: 1.5em;
}
#profile p{
	margin-top: -15px;
	font-style: italic;
	font-weight: bold;
	font-family: aril, tahoma, sans-serif;
}
#menu_lateral ul li a{
	color: #fff;
	display: block;
	padding: 10px 30px;
	border-bottom: 1px solid darkblue;
	font-size: 18px;
	
}

#menu_lateral ul li a:hover, .active {
	background-color: #fff; color: darkblue;

}



#menu_lateral{
	margin-left: -40px;
}

.active{
	color: darkblue !important;

}
.section{
	width: calc(100% - 250px);
	margin-left: 250px;
}
.section .top_bar{
	height: 55px;
	background-color: rgb(32, 44, 69);
	align-items: center;
	margin-left: -10px;
	margin-top: -23px; 
	padding: 5px 0 0 15px;
	


}

.section .top_bar .menu a{
	color: white;
	font-size: 1em;
}
.section .top_bar .menu a:hover {
	color: lightblue;

}
.neymar {
	background-color: olive;
	text-align: center;
	font-size: 1em;
	padding-top: 50px;
	height: 300px;
}
.sory{
	color: #fff;
}
.paragraphe {
	color: white;
}

.btn button {
	font-size: 2em;
	color: blue;
}
.bnt button: hover {
	background-color: darkblue;
	color: #fff;
	

}


.contenu {
	height: 250px;
	padding: 0 30px;padding-left: 285px;
	margin-top: 10px;
	display: flex;

}
.contenu img{
	width: 260px;
	height: 160px;
}
.contenu .article{
	margin-top: -20px;
	margin-left: 20px;
}
.contenu .article p{
	margin-top: -20px;
}
.boubacar {
	height: 250px;
	padding: 0 30px;
	padding-left: 285px;
	margin-top: 10px;
	display: flex;
	margin-top: -30px;
}
.boubacar img{
	width: 260px;
	height: 160px;

}
.boubacar .article2{
	margin-top: -20px;
	margin-left: 20px;
} 
.boubacar .article2 p {
	margin-top: -20px;
}
.boubacar .article2 a {
	padding-top: 0;
}
.inscription {
	background-color: #050A30;
	width: calc(100% - 250px);
	margin-left: 250px;
	text-align: center;color: white;
	padding: 20px;
	margin-top: -10px;

}
.inscription h2 {
	margin-bottom: -25px;
	font-size: 3em;
}
.inscription p {
	font-size: 2em;
	margin-bottom: 10px;
	
}
.SORY input {
	font-size: 1.5em;
	margin: 20px auto;
	margin-right: 10px;
}
.SORY button{
	font-size: 1.5em;
}
.FIN {
	background-color: darkblue; color: white;
	padding: 8px;
	text-align: center;
}
.footer{
	width: calc(100% - 250px);
	margin-left: 250px;
	margin-top: -50px;

}
